/* css styles */
.navbar-title
{
  font-size: 24px;
}
.nav-item
{
  font-size: 24px;
}
.bi
{
  font-size: 24px;
}
.quarto-search {
    font-size: 24px;
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}
.column-screen {
  padding-left:50px;
  padding-right:50px;
}
.quarto-figure {
  padding-left:50px;
  padding-right:50px;
}
